# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints 
.env 
deep-research-demo/

# Allow .env.example files
!.env.example